.blog {
  padding-top: 70px;
  padding-bottom: 60px;
  text-align: center;
}

.blog h2 {
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
}

.blog a {
  margin-bottom: 60px;
  display: inline-block;
  vertical-align: middle;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 1px solid $pink;
}

.blog__list {
  width: 100%;
  display: flex;
  flex-direction: row;

  outline: 1px solid blue;
}

.blog__wrapper {
  margin-right: 30px;
  width: 50%;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  outline: 1px solid green;
}

.blog__item {
  height: 50%;
  background-size: 50% 100%;
  background-repeat: no-repeat;

  &--left-img {
    background-image: url("../../img/Index/blog-1.jpg");
  }

  &--right-img {
    background-position: 100% 0;
    background-image: url("../../img/Index/blog-2.jpg");
  }

  &--big {
    width: 50%;
    height: 100%;
    background-size: 100%;
    background-image: url("../../img/Index/blog-3.jpg");
    outline: 1px solid red;
  }

  &:first-child {
    margin-bottom: 30px;
  }
}

.blog__title {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  background-color: $bg-article;

  &--ml {
    margin-left: 50%;
  }

  &--corner {
    margin-left: 50%;
    margin-top: 50%;
    width: 50%;
    height: 50%;
  }
}

.blog__title time {
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
}

.blog__title h3 {
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: #000000;
}

@media (max-width: $tablet-max) {
  .blog__list {
    display: block;
  }

  .blog__wrapper {
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    max-width: 100%;
  }

  .blog__item {
    margin-bottom: 50px;
    width: 100%;
    height: 100%;

    &:first-child {
      margin-bottom: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $mobile-max) {
  .blog__item {
    flex-direction: column;
  }

  .blog__title {
    width: 100%;
  }
}
