.catalog {
  padding-top: 130px;
  padding-bottom: 80px;
}

.catalog__wrapper {
  display: flex;
  align-items: flex-start;
}

.catalog__filter {
  margin-right: 50px;
}

@media (max-width: $tablet-max) {
  .catalog {
    padding-top: 50px;
  }

  .catalog__wrapper {
    flex-direction: column;
  }
}

@media (max-width: $mobile-max) {

}
