.catalog-promo {
  padding-top: 64px;
  padding-bottom: 95px;
  background-color: #776255;
  background-image: url("../img/Catalog/catalog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/Catalog/catalog-bg@2x.jpg");
  }
}

.catalog-promo h2 {
  margin-bottom: 1px;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-promo p {
  margin: 0;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  color: #ffffff;
}

@media (max-width: $mobile-max) {
  .catalog-promo {
    padding-top: 51px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 79px;
  }
}
