.catalog {
  padding-top: 80px;
  padding-bottom: 75px;
}

.catalog__wrapper {
  display: flex;
  align-items: flex-start;
}

.catalog__filter {
  margin-right: 50px;
}

.catalog__controls {
  padding-top: 36px;
  border-top: 1px solid $light-grey;
}

.catalog__container {
  padding-left: 330px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.catalog__pages {
  margin-right: 31px;
}

.catalog__page {
  margin-right: 10px;
  color: $grey;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    color: $black;
  }
}

@media (max-width: $tablet-max) {
  .catalog {
    padding-top: 50px;
  }

  .catalog__wrapper {
    flex-direction: column;
  }

  .catalog__container {
    padding-left: 45px;
  }
}

@media (max-width: $mobile-max) {
  .catalog {
    padding-top: 40px;
    padding-bottom: 65px;
  }

  .catalog__container {
    padding-left: 15px;
  }

  .catalog__controls {
    border: none;
    padding-top: 16px;
  }

  .catalog__pages {
    margin: 0 auto;
  }

  .catalog__page {
    margin-right: 19px;
  }

  .catalog__container a {
    display: none;
  }
}
