.catalog-promo {
  margin-bottom: 130px;
  padding-top: 102px;
  padding-bottom: 102px;
  background-color: #776255;
  background-image: url("../../img/Catalog/catalog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.catalog-promo h2 {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-promo p {
  margin: 0;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  color: #ffffff;
}
