.faq {
  padding-top: 70px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 970px;
}

.faq h2 {
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
}
