.follow-us {
  padding-top: 60px;
  padding-bottom: 130px;
  text-align: center;
}

.follow-us picture {
  display: flex;
}

.follow-us h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 0.03em;
  line-height: 44px;
}

.follow-us a {
  margin-bottom: 60px;
  padding-bottom: 4px;
  display: inline-block;
  vertical-align: middle;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 1px solid $pink;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    opacity: 0.3;
  }
}

.follow-us__images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.follow-us__soloImg {
  width: 35%;
}

.follow-us__soloImg img {
  height: 100%;
}

.follow-us__wrapper {
  margin-right: 2.56%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.follow-us__wrapper img:first-child {
  margin-bottom: 15.5%;
}

.follow-us__container {
  margin-left: 2.56%;
  width: 42%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.follow-us__container picture {
  max-width: 45.42%;

  &:first-child,
  &:last-child {
    max-width: 48.33%;
  }

  &:nth-child(2n-1) {
    margin-right: 6.25%;
  }

  &:nth-child(n+3) {
    align-self: flex-end;
  }
}

@media (max-width: $tablet-max) {
  .follow-us {
    padding-top: 24px;
    padding-bottom: 79px;
  }
}

@media (max-width: $mobile-max) {
  .follow-us {
    padding-top: 31px;
    padding-bottom: 71px;
  }

  .follow-us a {
    margin-bottom: 46px;
  }

  .follow-us__images {
    flex-wrap: wrap;
    justify-content: center;
  }

  .follow-us__images img {
    width: 100%;
  }

  .follow-us__images picture {
    width: 100%;
  }

  .follow-us__wrapper {
    margin-right: 5.17%;
    margin-bottom: 9px;
    width: 44.83%;
  }

  .follow-us__wrapper picture:first-child {
    margin-bottom: 15px;
  }

  .follow-us__soloImg {
    margin-bottom: 0;
    padding-bottom: 5%;
    width: 50%;
  }

  .follow-us__soloImg img {
    object-fit: cover;
    min-height: 226px;
  }

  .follow-us__soloImg picture {
    height: 100%;
  }

  .follow-us__container {
    margin: 0;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .follow-us__container picture {
    &:first-child {
      margin: 0;
      order: 2;
      min-width: 50%;
    }

    &:nth-child(3n) {
      margin-right: 5.17%;
      width: 44.83%;
    }

    &:nth-child(2n) {
      display: none;
    }
  }
}
