.footer {
  background-color: #000000;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}

.footer__wrapper {
  padding-top: 95px;
  padding-bottom: 96px;
  display: flex;
}

.footer__subscribe {
  margin-right: 93px;
  width: 100%;
  max-width: 500px;
}

.footer__subscribe h2 {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  letter-spacing: 0.02em;
}

.footer__subscribe p {
  margin: 0;
  margin-bottom: 43px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: $grey;
}

.footer__form {
  position: relative;
  border-bottom: 1px solid #ffffff;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.footer__form input {
  padding-bottom: 7px;
  width: 100%;
  border: none;
  background: transparent;
  color: #ffffff;
}

.footer__form span {
  margin-right: 10px;
  color: #ffffff;
}

.footer__form button {
  padding: 0;
  position: absolute;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.footer__socials {
  margin-left: auto;
}

@media (max-width: $tablet-max) {
  .footer__wrapper {
    padding-top: 55px;
    padding-bottom: 60px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer__subscribe {
    margin-bottom: 47px;
    width: 100%;
    max-width: 560px;
  }

  .footer__subscribe h2 {
    margin-bottom: 3px;
  }

  .footer__subscribe p {
    margin-bottom: 33px;
    padding-left: 13px;
    padding-right: 170px;
    text-align: center;
  }

  .footer__form {
    width: 100%;
  }

  .footer__socials {
    margin: 0;
  }
}

@media (max-width: $mobile-max) {
  .footer__wrapper {
    padding-top: 50px;
    display: block;
  }

  .footer__subscribe h2 {
    margin-bottom: 13px;
    line-height: 44px;
  }

  .footer__subscribe p {
    margin-bottom: 43px;
    padding: 0;
    text-align: left;
  }
}
