.main-promo {
  padding-top: 195px;
  padding-bottom: 195px;
  background-color: #776255;
  background-image: url("../../img/Index/Group 28intro-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.main-promo strong {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 58px;
  color: #ffffff;
}

.main-promo p {
  margin: 0;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 49px;
  color: #ffffff;
}
