.main-promo {
  padding-top: 181px;
  padding-bottom: 186px;
  background-color: #776255;
  background-image: url("../../img/Index/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../../img/Index/promo-bg@2x.jpg");
  }
}

.main-promo h2 {
  margin: 0;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.main-promo p {
  margin: 0;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 38px;
  color: #ffffff;
}

@media (max-width: $tablet-max) {
  .main-promo {
    padding-right: 18px;
  }
}

@media (max-width: $mobile-max) {
  .main-promo {
    padding-top: 195px;
    padding-right: 0;
  }

  .main-promo h2 {
    font-size: 38px;
    line-height: 38px;
  }

  .main-promo p {
    font-size: 34px;
    line-height: 44px;
  }
}
