.new-in {
  padding-bottom: 60px;
  padding-top: 120px;
  text-align: center;

  &--product-card {
    padding-bottom: 125px;
  }
}

.new-in h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
}

.new-in--product-card h2 {
  margin-bottom: 20px;
}

.new-in > a {
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 1px solid $pink;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    opacity: 0.3;
  }
}

.new-in__slider {
  margin-top: -50px;
}

.new-in--product-card .new-in__slider {
  margin-top: -43px;
}

@media (max-width: $tablet-max) {
  .new-in {
    padding-top: 70px;
    padding-bottom: 50px;

    &--product-card {
      padding-top: 62px;
      padding-bottom: 71px;
    }
  }

  .new-in h2 {
    margin-bottom: 18px;
  }

  .new-in > a {
    padding-bottom: 5px;
  }

  .new-in__slider {
    margin-top: -47px;
  }
}

@media (max-width: $mobile-max) {
  .new-in {
    padding-top: 61px;
    padding-bottom: 30px;

    &--product-card {
      padding-top: 42px;
      padding-bottom: 64px;
    }
  }

  .new-in__slider {
    margin-top: -43px;
  }
}
