.product {
  padding-top: 80px;
  display: flex;
}

.product__description {
  width: 370px;
  min-height: 435px;
}

.product__description h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 24px;
}

.product__description > span {
  margin-bottom: 38px;
  display: block;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 34px;
}

.product__features {
  display: flex;
  justify-content: space-between;
}

.product__features span {
  margin-right: 20px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.product__info {
  margin-bottom: 52px;
}

.product__button {
  margin-bottom: 17px;
  padding-top: 25px;
  padding-bottom: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  width: 100%;
  background-color: $pink;
  color: #ffffff;
  display: block;
  border: 1px solid $pink;

  &:hover {
    color: $black;
    background-color: #ffffff;
  }
}

@media (max-width: $tablet-max) {
  .product {
    padding-top: 31px;
    justify-content: space-between;
  }

  .product__description {
    width: calc((100% - 40px) / 2);
  }

  .product__features span {
    margin-right: 10px;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: $mobile-max) {
  .product {
    padding-top: 0;
    flex-direction: column;
  }

  .product__description {
    width: 100%;
  }

  .product__description > span {
    margin-bottom: 29px;
  }

  .product__info {
    margin-bottom: 42px;
  }

  .product__button {
    margin-bottom: 13px;
  }

  .product__features {
    padding-left: 3px;
    padding-right: 5px;
  }

  .product__features span {
    max-width: 60px;
  }
}
