.slider {
  overflow: hidden;
}

.slider__track {
  margin-bottom: 60px;
  display: flex;
}

.slider__item {
  max-width: 270px;
  margin-right: 2.66%;
  min-width: 23%;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.slider__item h3 {
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.slider__item span {
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.slider__buttons {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.slider__btn {
  padding: 0;
  width: 30px;
  height: 11px;
  border: none;
  background: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.2;
  }
}

.slider__page {
  margin-right: 10px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $grey;
  cursor: pointer;

  &--active {
    color: $black;
  }

  &--off {
    display: none;
  }
}

@media (max-width: $tablet-max) {
  .slider__item {
    max-width: 47.79%;
    margin-right: 4.42%;
    min-width: 47.79%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
