.socials {
  @include clearlist;
}

.socials__item {
  margin-bottom: 21px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__item svg {
  margin-right: 15px;
  width: 16px;
  height: 16px;
}

.socials__item a {
  display: flex;
  align-items: center;
}

@media (max-width: $mobile-max) {
  .socials {
    display: flex;
  }

  .socials__item {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .socials__item span {
    display: none;
  }

  .socials__item svg {
    width: 21px;
    height: 21px;
  }
}
