html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: $mobile-min;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  max-width: 100%;
  height: auto;
}
